@use "piko.scss";
@use "components/buttons" as *;
@use "components/banners" as *;
@use "components/badges" as *;
@use "components/warehouse" as *;
@use "components/return_addresses" as *;
@use "components/actions" as *;
@use "components/user_mention" as *;
@use "components/nav" as *;
@use "components/tabs" as *;
@use "components/tags" as *;


.admin-tool {
  border: 1.5px dashed orange;
  border-radius: 7px;
  padding: 2px;
}

.dev-tool {
  border: 1.5px dashed lawngreen;
  border-radius: 7px;
  padding: 2px;
}

span.admin-tool {
  border-radius: 8px;
  padding: 3px 2px;
}

.dev-border-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
  border: 5px dashed #00FF00;
  box-sizing: border-box;
}

.float-right {
  float: right;
}