<% flash.each do |type, message| %>
  <% if message.present? %>
    <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-danger' %> mb-4">
      <%= message %>
    </div>
  <% end %>
<% end %>