<% flash.each do |type, message| %>
  <% if message.present? %>
    <% alert_class = case type.to_sym
       when :notice, :success then 'alert-success'
       when :alert, :error, :danger then 'alert-danger'
       when :info then 'alert-info'
       else 'alert-info'
       end %>
    <div class="alert <%= alert_class %> mb-4">
      <%= message %>
    </div>
  <% end %>
<% end %>