<div class="card mb-3">
  <!--  <h4 class="display-inline">-->
  <div>
    <b>
      <%= link_to order.hc_id, order %>
    </b>

    <%= render 'status_badge', order: %>
  </div>


  <b>contents:</b>
  <%= render 'warehouse/orders/line_items', order: %>

  <%= render 'addresses/address', address: order.address %>


</div>
