<% content_for :title, "Editing purpose code" %>

<h1>Editing purpose code</h1>

<%= render "form", warehouse_purpose_code: @warehouse_purpose_code %>

<br>

<div>
  <%= link_to "Show this purpose code", @warehouse_purpose_code %> |
  <%= link_to "Back to purpose codes", warehouse_purpose_codes_path %>
</div>
