<p style="color: green"><%= notice %></p>

<% content_for :title, "Purpose codes" %>

<h1>Purpose codes</h1>

<div id="warehouse_purpose_codes">
  <% @warehouse_purpose_codes.each do |warehouse_purpose_code| %>
    <%= render warehouse_purpose_code %>
    <p>
      <%= link_to "Show this purpose code", warehouse_purpose_code %>
    </p>
  <% end %>
</div>

<%= link_to "New purpose code", new_warehouse_purpose_code_path %>
