<% content_for :title, "New purpose code" %>

<h1>New purpose code</h1>

<%= render "form", warehouse_purpose_code: @warehouse_purpose_code %>

<br>

<div>
  <%= link_to "Back to purpose codes", warehouse_purpose_codes_path %>
</div>
