<div id="<%= dom_id template %>">
  <p>
    <strong>User:</strong>
    <%= template.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= template.name %>
  </p>

  <p>
    <strong>Source tag:</strong>
    <%= template.source_tag_id %>
  </p>

</div>
