<p style="color: green"><%= notice %></p>

<% content_for :title, "Queues" %>

<h1>Queues</h1>

<div id="letter_queues">
  <% @letter_queues.each do |letter_queue| %>
    <article>
      <%= render letter_queue %>
      <p>
        <%= link_to "Show this queue", letter_queue %>
      </p>
    </article>
  <% end %>
</div>

<%= link_to "New queue", new_letter_queue_path %>
