<% content_for :title, "Batches" %>

<h1>Batches <sup><small>(<%= link_to "create!", new_batch_path %>)</small></sup></h1>

<div id="batches">
  <% @batches.each do |batch| %>
    <%= render partial: "batch", locals: { batch: batch } %>
    <p>
      <%= link_to "Show this batch", batch %>
    </p>
  <% end %>
</div>

